/*section MenuBar*/
.section1
{
    background-image:url("photo/bg.png");
    background-size:cover;
}

.section2
{
    background-image:url("photo/Section\ Background.png");
    background-size:cover;   
}
p
{
    color:black;
}
.section1 h1
{
    font-size: 90px;
    color: #ffffff;
    font-family: "Yeseva One";
}
/*section Fine Ingredientes*/

.imgFineIngre 
{
    height: 760px;
    background-image: url('photo/ingred_bg.png');
    background-size: cover;
    
}

.imgFineIngreText
{
    width: 571px;
    height: 558px;
    max-width: 571px;
    background-image: url('photo/ingred_image_bg.png');  
    font-family: 'Yeseva One', cursive;
}
.imgFineIngreText
{
    color: white;
    font-family: 'Lato' bold;
}
.imgFineIngreItem
{
    text-align: left;
}
.description 
{
    top: 10%;
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
    
}
.description h1 
{
    color: white;
}
.description p 
{
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}
/*Section Menu*/
.aligncenter
{
    text-align: center;
}
.imgmenubg
{
    max-width: auto;
    height: 1100px;
    background-image: url('photo/justpattern.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.menutextsize
{
    width: 420px;
    height: 460px;
    max-width: 420px; 
}

/*section Guest Review*/

.imgreviews
{
    height: 750px;
    background-image: url('photo/Reviewsbg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.descriptionGR 
{
    top: 10%;
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
    border: 40px;
}
.imgGRBGtext
{
    width: 530px;
    height: 400px;
    max-width: 530px;
    background-image: url('photo/imgGRtextbg.png');  
    font-family: 'Yeseva One', cursive;
}
.imgGRText
{
    margin: 30px;
    width: 400px;
    height: 250px;
    font-size: 36px;
    color: #ffffff;
    font-family: "Yeseva One";
    text-align: center;
}

/*section Just the right food*/

.containerjust
{
    max-width: auto;
    height: 710px;
    background-color: white;
    color: black;
}
.imgmejustbg
{
    height: 710px;
    background-image: url('photo/justpattern.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-size
{
    width: 200px;
    height: 50;
    background-color: rgba(200,159,45,0.9803921568627451);
}
/*section Footer*/
.containerfooter
{
    max-width: auto;
    height: 320px;
    background-color: black;
    color: white;
}
