.section1{
    background-image:url("photo/bg.png");
    background-size:cover;
    }

.section2{
    background-image:url("photo/Section\ Background.png");
    background-size:cover;
    
}
p{
    color:black;
}
.section1 h1{
   
    font-size: 90px;
    color: #ffffff;
    font-family: "Yeseva One";
   
    
   ;
}